@page "/contact"

<PageTitle>
    Contact us
</PageTitle>

<div class="page-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <Select @bind-SelectedValue="@SelectedIndex">
                    @for (var i = 0; i < ContactTypes.Length; i++)
                    {
                        var typeIndex = i;
                        <SelectItem Value="@typeIndex">@ContactTypes[typeIndex].Title</SelectItem>
                    }
                </Select>
                <hr />
                <DynamicComponent Type="SelectedContactType.Type"></DynamicComponent>
            </div>
            <div class="col-md-4">
                <ErrorBoundary>
                    <ChildContent>
                        <Chat />
                    </ChildContent>
                    <ErrorContent>
                        <Alert Color="Color.Danger" Visible>
                            <AlertMessage>Sorry!</AlertMessage>
                            <AlertDescription>
                                An error occured while trying to connect to an agent.
                                Please try again later.
                            </AlertDescription>
                        </Alert>
                    </ErrorContent>
                </ErrorBoundary>
                <hr />
                <MailingList />
                <hr />
                <ContactInfo />
            </div>
        </div>
    </div>
</div>
